# Dependencies
node_modules
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next
out
build
dist

# Env (nunca colar .env no image)
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE / OS
.vscode
.idea
.DS_Store
Thumbs.db

# Payload / misc
.payload
.vercel
*.md
!README.md
